<!DOCTYPE>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic}" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head></head>
<body>

<div layout:fragment="content" class="container">


    <div class="p-3 align-items-center mb-4 ">

        <div class="mb-3 justify-content-between d-flex">
            <h3 ><a th:href="@{/member/mypage}" class="text-black text-decoration-none" >마이페이지</a></h3>
        </div>
        <div class="mb-3 justify-content-end">
            <a class="btn btn-primary"
               th:href="@{/member/mypage/myposts}">내가 쓴 글 보기</a>
            <a class="btn btn-primary"
               th:href="@{/member/mypage/mycomments}">내가 쓴 댓글 보기</a>
        </div>
        <div class="col-xl-4 card mb-4 mb-xl-0 p-0">
            <div class="card-header">내 프로필</div>
            <div class="card-body text-center border-left-primary">

                <div class="small mb-2" >
                    <h5 th:text="'username: '+${member.username}"></h5>
                    <h5 th:text="'email: '+${member.email}"></h5>
                    <h5 th:text="'작성 글 수: '+${postCnt}"></h5>
                    <h5 th:text="'작성 댓글 수: '+${commentCnt}"></h5>
                    <a class="btn btn-primary" type="submit" th:href="@{'/member/edit/'+${member.id}}">비밀번호 변경</a>

                </div>
                <button class="btn btn-danger" onclick="deleteMember()">회원 탈퇴</button>

            </div>
        </div>
        </div>
</div>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        var token = $("meta[name='_csrf']").attr("content");
        function logout(){
            console.log('logout');
            $.ajax({
                type: 'POST',
                url: '/member/logout',
                headers: {'X-CSRF-TOKEN': token},
                success: function () {
                    alert('로그아웃 되었습니다.');
                    window.location.href="/";
                },
                err: function (error) {
                    alert(JSON.stringify(error));
                }
            });
        }

        function deleteMember(){
            /*<![CDATA[*/
            var id = /*[[ ${member.id} ]]*/;
            /*]]*/

            const confirmCheck = confirm("정말로 삭제하시겠습니까?");

            if(confirmCheck === true){
                $.ajax({
                    type: 'DELETE',
                    url: '/member/'+id,
                    headers: {'X-CSRF-TOKEN': token}
                }).done(function(result){
                    console.log(result);
                    console.log(typeof result);
                    if(result === true){
                        alert('회원 탈퇴가 완료되었습니다.');
                        logout();
                    }else{
                        alert('탈퇴가 실패했습니다.');
                        window.location.href="/";
                    }
                }).fail(function(error){
                    alert(JSON.stringify(error));
                });
            }
        }
    </script>
</th:block>
</body>
</html>