<!DOCTYPE>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic}" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head></head>
<body>

<div layout:fragment="content" class="container">


    <div class="p-3 align-items-center mb-4 ">

        <div class="mb-3 justify-content-between d-flex">
            <h3><a th:href="@{/member/mypage}" class="text-black text-decoration-none">마이페이지</a></h3>
        </div>
        <div class="mb-3 justify-content-end">
            <a class="btn btn-primary"
               th:href="@{/member/mypage/myposts}">내가 쓴 글 보기</a>
            <a class="btn btn-primary"
               th:href="@{/member/mypage/mycomments}">내가 쓴 댓글 보기</a>
        </div>
        <table class="table table-hover text-center">
            <caption></caption>
            <thead>
            <tr>
                <th style="width: 10%">번호</th>
                <th style="width: 40%">제목</th>
                <th style="width: 20%">작성자</th>
                <th style="width: 20%">작성일</th>
                <th style="width: 20%">조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr class="clickable-row" th:each="post, iter : ${postPage}" th:attr="data-url=@{'/posts/' + ${post.id}} ">
                <td th:text="${pagination.getTotalElements()-(pagination.pageNumber*pagination.pageSize + iter.index)}"></td>
                <td th:text="${post.title}"></td>
                <td th:text="${post.member.username}"></td>
                <td th:text="${#dates.format(post.createdAt, 'yyyy-MM-dd')}"></td>
                <td th:text="${post.viewCnt}"></td>
            </tr>
            </tbody>
        </table>
        <div th:replace="fragment/pagination :: pagination">
        </div>

    </div>
    <script>
        $('.clickable-row').click(function (e) {
            let row = e.target.parentNode;
            location.href = row.getAttribute('data-url');
        });
    </script>
</div>
</body>
</html>