#comment{
  #username {
    font-size: medium;
    font-weight: bold;
  }
  #date{
    font-size: small;
  }
}

.note-btn.dropdown-toggle:after {
  content: none;
}

.clickable-row{
  cursor: pointer;
}

