#comment{
  #username {
    font-size: medium;
    font-weight: bold;
  }
  #date{
    font-size: small;
  }
}

.note-btn.dropdown-toggle:after {
  content: none;
}

.clickable-row{
  cursor: pointer;
}

#memberUpdate{
  border-radius: 10rem;
}

.file-delete-btn{
  cursor: pointer;
}

.detail_info{
  .member{
    color: $teal;
  }
  font-size: 12px;
  color: $gray-500;
}

.list-group-item {
  a{
    color: black;
  }

}