<!DOCTYPE>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic}" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body class="container-fluid">

<div layout:fragment="content" class="row justify-content-center">

    <div class="p-5 ">

        <div class="align-items-center mb-4">
            <h1 class="h3 text-gray-800">글쓰기</h1>
        </div>
        <form th:action="@{${postVo.id == null ? '/posts' : '/posts/'+postVo.id+'/edit'}}" th:method="${postVo.id == null ? 'post' : 'put'}" th:object="${postVo}">

            <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger">
                <div th:each="err : ${#fields.allErrors()}" th:text="${err}">Test</div>
            </div>

            <div class="form-group">
                <input type="text" th:field="*{title}" placeholder="제목" class="form-control">
                </div>
            <div class="form-group">
                <textarea id="summernote" type="text" th:field="*{content}" class="form-control"></textarea>
                </div>
            <hr>

            <button type="submit" class="btn btn-primary btn-user btn-block" th:text="${postVo.id==null ? '등록하기' : '수정하기'}"></button>

        </form>
    </div>

</div>
<th:block layout:fragment="script">
    <link th:href="@{/css/summernote/summernote-lite.min.css}" rel="stylesheet">

    <script src="/js/summernote/summernote-lite.min.js"></script>
    <script src="/js/summernote/lang/summernote-ko-KR.js"></script>
    <script>
        $('#summernote').summernote({
            placeholder: '내용을 입력하세요',
            lang: "ko-KR",
            tabsize: 2,
            height: 400,
            toolbar: [
                ['fontname', ['fontname']],
                ['fontsize', ['fontsize']],
                ['style', ['bold', 'italic', 'underline', 'strikethrough', 'clear']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['insert', ['picture', 'link']]
            ],
            fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋음체','바탕체'],
            fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72']

        });

    </script>
</th:block>
</body>
</html>