<!DOCTYPE>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic}" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body class="container-fluid">

<div layout:fragment="content" class="container">

    <div class="p-3 align-items-center mb-4">


        <table class="table table-bordered text-center">

            <tbody>
                <tr>
                    <th>제목</th>
                    <td th:text="${post.getTitle()}"></td>
                </tr>
            <tr>
                <th>작성자</th>
                <td th:text="${post.getMember().getUsername()}"></td>
            </tr>
                <tr>
                    <th>작성일</th>
                    <td th:text="${#dates.format(post.getUpdatedAt(), 'yyyy.MM.dd HH:mm')}"></td>
                </tr>
            <tr>
                <td colspan="2" th:utext="${post.getContent()}" class="text-left"></td>
            </tr>

            </tbody>

        </table>
        <a th:href="@{/posts}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">목록으로</a>

    </div>

</div>

</body>
</html>