<!DOCTYPE>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic}" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body>

<div layout:fragment="content" class="container">

    <div class="p-3 mb-4">

        <div sec:authorize="isAuthenticated()">
            <div th:if="${#strings.equals(post.member.username, #authentication.getPrincipal().getMember().getUsername())}"
                 class="d-flex mb-3 justify-content-end">
                <form id="delete-form" method="post" th:action="@{'/posts/' + ${post.id}}" class="mr-2">
                    <input type="hidden" name="_method" value="delete">
                    <input type="submit" class="d-md-inline-block btn btn-md btn-danger" value="삭제">
                </form>
                <div class="d-inline">
                    <a th:href="@{'/posts/' + ${post.id} + '/edit'}"
                       class="d-md-inline-block btn btn-md btn-success shadow-md d-inline">수정</a>
                </div>
            </div>
        </div>
        <table id="post" class="table table-bordered text-center">

            <tbody>
            <tr>
                <th>제목</th>
                <td th:text="${post.getTitle()} "></td>
            </tr>
            <tr>
                <th>작성자</th>
                <td th:text="${post.getMember().getUsername()}"></td>
            </tr>
            <tr>
                <th>작성일</th>
                <td th:text="${#dates.format(post.getUpdatedAt(), 'yyyy.MM.dd HH:mm')}"></td>
            </tr>
            <tr>
                <th>조회수</th>
                <td th:text="${post.getViewCnt()}"></td>
            </tr>
            <tr>
                <td id="content" colspan="2" th:utext="${post.getContent()}" class="card-body text-left"></td>
            </tr>

            </tbody>

        </table>

        <div id="comment" class="mb-3 card">
            <div class="card-header"><h6>댓글</h6></div>
            <th:block th:if="${post.comments != null}" th:each="comment : ${post.comments}">

                <ul class="list-group-flush card-body">
                    <li class="list-group-item p-0">
                        <span class="d-flex justify-content-between ">
                            <span>
                            <span id="username" th:text="${comment.member.username}"></span>
                            <span id="date" th:text="${#dates.format(comment.createdAt, 'yyyy-MM-dd hh:mm')}"></span>
                            </span>
                            <span>
                                <div sec:authorize="isAuthenticated()" class="d-inline">
                                <th:block th:if="${#strings.equals(comment.member.username, #authentication.getPrincipal().getMember().getUsername())}" >
                                    <form th:object="${comment.id}" th:action="@{'/comments/' + ${comment.id}}"
                                          th:method="delete" class="d-inline">
                                        <button class="btn-danger btn btn-sm">삭제</button>
                                    </form>
                                    <button type="button" class="btn btn-sm btn-success" data-bs-toggle="collapse"
                                            th:attr="data-bs-target='#collapseComment'+${comment.id}"
                                            aria-expanded="false">수정</button>
                                </th:block>

                                </div>
                            </span>
                        </span>
                        <div class="collapse show" th:id="'collapseComment'+${comment.id}" th:text="${comment.content}"></div>
                        <div class="collapse mt-2" th:id="'collapseComment'+${comment.id}">
                            <form th:object="${commentVo}" th:action="@{/comments}" th:method="put" >
                                <input type="hidden" name="id" th:value="${comment.id}" >
                                <textarea th:name="content" class="form-control" maxlength="500" id="commentContent2" th:text="${comment.content}" required></textarea>
                                <span id="counter2" style="color:#aaa;" th:value="'('+${comment.content.length()}+' / 500)'"></span>
                                <div class="justify-content-end d-flex">
                                <button type="submit" class="btn btn-primary btn-sm mt-2 ">등록</button>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
                <hr class="m-0">
            </th:block>
        </div>


        <div class="card mb-3">
            <div class="card-header"><h6>댓글작성</h6></div>
            <th:block sec:authorize="isAuthenticated()">
                <form th:object="${commentVo}" th:action="@{/comments}" method="post" class="form-floating m-0" >

                    <div class="card-body">
                        <textarea id="commentContent" th:field="*{content}" class="form-control" maxlength="500" placeholder="댓글을 남겨보세요" required></textarea>
                        <input type="hidden" name="id" th:value="${post.id}">
                        <span id="counter" style="color:#aaa;">(0 / 500)</span>
                    </div>
                    <div class="card-footer justify-content-end d-flex">
                        <button type="submit" class=" btn btn-outline-primary btn-sm">등록</button>
                    </div>
                </form>

            </th:block>
            <th:block sec:authorize="isAnonymous()">
                <div class="card-body"><h6>댓글을 작성하려면 <a th:href="@{/member/login}">로그인</a> 하세요.</h6></div>
            </th:block>

        </div>

        <div class="d-flex justify-content-between mb-3">
            <a th:href="@{/posts(page=${currentPage})}" class="d-none d-sm-inline-block btn btn-mg btn-primary shadow-sm">목록으로</a>

            <a sec:authorize="isAuthenticated()" th:href="@{/posts/new}" class="d-none d-sm-inline-block btn btn-mg btn-primary shadow-sm">작성하기</a>
        </div>

        <div class="row d-flex justify-content-between mx-auto">
            <div class="clickable-row col-lg-4 col-sm-4 border bg-light px-2 " th:if="${previous != null}">
                <div class="row d-flex justify-content-start align-items-center" th:attr="data-url=@{'/posts/'+${previous.id}}">
                    <i class="col-2 fs-2 bi bi-arrow-left-circle"></i>
                    <div class="col-10 text-left" th:attr="data-url=@{'/posts/'+${previous.id}}">
                        <h6 class="mt-2">이전글</h6>
                        <h5 class="m-0" th:text="${previous.title}"></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 px-2" th:if="${previous == null}"></div>
            <div class="clickable-row col-lg-4 col-sm-4 border bg-light px-2" th:if="${next != null}">
                <div class="row d-flex justify-content-end align-items-center " th:attr="data-url=@{'/posts/'+${next.id}}">
                    <div class="col-10 text-right" th:attr="data-url=@{'/posts/'+${next.id}}">
                        <h6 class="mt-2">다음글</h6>
                        <h5 th:text="${next.title}"></h5>
                    </div>
                    <i class="col-2 fs-2 bi bi-arrow-right-circle"></i>
                </div>
            </div>
        </div>

    </div>

</div>

<th:block layout:fragment="script">
    <script>
        $('.clickable-row').click(function(e){
            let row = e.target.parentNode;
            location.href = row.getAttribute('data-url');
        })
        $('#commentContent').keyup(function (e){
            var content=$(this).val();
            $('#counter').html("("+content.length+" / 500)");
        });
        $('#commentContent2').keyup(function (e){
            var content=$(this).val();
            $('#counter2').html("("+content.length+" / 500)");
        });
    </script>
</th:block>
</body>
</html>