<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="nav">
  <nav class="navbar navbar-expand navbar-light bg-gradient-primary topbar mb-4 static-top shadow">

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-md-3">
<!--      <li class="nav-item active">-->
<!--        <img src="/img/logo.png" class="logo">-->
<!--      </li>-->
      <!-- Nav Item - Search Dropdown (Visible Only XS) -->
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/}">
         Home
        </a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" th:href="@{/}">
          자유게시판
        </a>
      </li>
    </ul>

<!--    <button type="submit" class="d-none d-sm-inline-block ml-auto btn btn-sm btn-primary shadow-sm" onClick>Login</button>-->
    <a href="/member/login" class="btn btn-primary btn-user ml-auto">
      Login
    </a>
  </nav>
</div>
</html>

